.p-3 {
    background-color: white !important;
}
.image-area {
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
}
.image-area img{
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    display: block;
}

.AClass{
    right:0px;
    position: absolute;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 5px;
    
  }

.product-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 5px;

}

.p-image-container{

}

.card-product img{
    width: 70%;
}